<!DOCTYPE html>
<html>
  <head>
    <title>Movies</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav>
    <%= link_to('Home', root_path) %>
      <% if user_signed_in? %>
        <%= link_to('My Movies', mymovies_path) %>
        <%= link_to 'Upload Movie', new_movie_path %>
        <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "nav-link m-2 menu-item") %>
      <% else %>
      <li class="nav-item">
        <%= link_to('Log In', new_user_session_path)  %>
      </li>
      <li>
        <%= link_to('Register Now', new_user_registration_path)  %>
      </li>  
      <% end %>
  </nav>
    <%= yield %>
  </body>
</html>
